worldType = "pvp"
hotkeyAimbotEnabled = true
protectionLevel = 7
pzLocked = 10 * 1000
removeChargesFromRunes = true
removeChargesFromPotions = true
removeWeaponAmmunition = true
removeWeaponCharges = true
timeToDecreaseFrags = 15 * 60 * 1000
whiteSkullTime = 60 * 1000
stairJumpExhaustion = 2 * 1000
experienceByKillingPlayers = true
expFromPlayersLevelRange = 75
dayKillsToRedSkull = 3
weekKillsToRedSkull = 5
monthKillsToRedSkull = 10
redSkullDuration = 1
blackSkullDuration = 3
orangeSkullDuration = 7

onlyInvitedCanMoveHouseItems = true
cleanProtectionZones = false

ip = "35.199.115.108"
bindOnlyGlobalAddress = false
loginProtocolPort = 7171
gameProtocolPort = 7172
statusProtocolPort = 7171
maxPlayers = 0
motd = "Tibia of Warcraft!"
onePlayerOnlinePerAccount = false
allowClones = false
serverName = "OTServBR-Global"
statusTimeout = 5 * 1000
replaceKickOnLogin = true
maxPacketsPerSecond = 25
maxItem = 2000
maxContainer = 100

clientVersion = 1285
clientVersionStr = "12.85"


freeDepotLimit = 2000
premiumDepotLimit = 10000
depotBoxes = 18

gamestoreByModules = true

onlyPremiumAccount = false

weatherRain = false
thunderEffect = false
allConsoleLog = false
saveInterval = false
saveIntervalCleanMap = false
saveIntervalTime = 1
staminaTrainer = false
staminaTrainerDelay = 5
staminaTrainerGain = 1
staminaPz = false
staminaOrangeDelay = 1
staminaGreenDelay = 5
staminaPzGain = 1
maxAllowedOnADummy = 10

togleImbuementShrineStorage = true

toggleFreeQuest = false
freeQuestStage = 1

deathLosePercent = -1

housePriceEachSQM = 1000
houseRentPeriod = "never"
houseOwnedByAccount = false

timeBetweenActions = 200
timeBetweenExActions = 1000

pushDelay = 1000
pushDistanceDelay = 1500

mapName = "otservbr"
mapAuthor = "OTServBR"

partyListMaxDistance = 30

toggleMapCustom = true
mapCustomName = "otservbr-custom"
mapCustomAuthor = "OTServBR"

marketOfferDuration = 30 * 24 * 60 * 60
premiumToCreateMarketOffer = true
checkExpiredMarketOffersEachMinutes = 60
maxMarketOffersAtATimePerPlayer = 100

mysqlHost = "127.0.0.1" 
mysqlUser = "root"
mysqlPass = ""
mysqlDatabase = "canary"
mysqlPort = 3306
mysqlSock = ""

allowChangeOutfit = true
freePremium = true
kickIdlePlayerAfterMinutes = 150
maxMessageBuffer = 4
emoteSpells = false
classicEquipmentSlots = false
allowWalkthrough = true
coinPacketSize = 25
coinImagesURL = "http://127.0.0.1/images/store/"
classicAttackSpeed = false
showScriptsLogInConsole = false

serverSaveNotifyMessage = true
serverSaveNotifyDuration = 5
serverSaveCleanMap = false
serverSaveClose = false
serverSaveShutdown = true

sortLootByChance = false

rateExp = 1
rateSkill = 50
rateLoot = 10
rateMagic = 25
rateSpawn = 1

rateHealthRegen = 1.0
rateHealthRegenSpeed = 1.0
rateManaRegen = 1.0
rateManaRegenSpeed = 1.0
rateSoulRegen = 1.0
rateSoulRegenSpeed = 1.0

rateSpellCooldown = 1.0
rateAttackSpeed = 1.0
rateOfflineTrainingSpeed = rateAttackSpeed
rateExerciseTrainingSpeed = rateAttackSpeed / 2

rateMonsterHealth = 1.0
rateMonsterAttack = 1.0
rateMonsterDefense = 1.0

deSpawnRange = 2
deSpawnRadius = 50

staminaSystem = true

warnUnsafeScripts = true
convertUnsafeScripts = true

defaultPriority = "high"
startupDatabaseOptimization = true

ownerName = "Burgos"
ownerEmail = ""
url = "https://github.com/opentibiabr/otservbr-global"
location = "South America"

discordWebhookURL = ""
